* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

body {
    font-size: 1.6rem;
}
header {
  background-color: tomato;
}
header ul {
  display: flex;
  justify-content:space-around;
  list-style: none;
  font-weight: 500;
  line-height:  1.8rem;
}
header a {
  text-decoration: none;
  color: white;
}

main {
  background-color: aquamarine;
}

footer {
  background-color: indianred;
}


